<h1>Authors!</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Biography</th>
      <th>Actions</th>
    </tr>
  </thead>
  
  <tbody>
    <% @authors.each do |author| %>
    <tr>
      <td><%="#{author.first_name} #{author.last_name}"%></td>
      <td><%=author.biography%></td>
      <td>Actions</td>
    </tr>
    <%end%>
  </tbody>
</table>
